AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_API_KEY=
AZURE_SEARCH_INDEX=
AZURE_SEARCH_SEMANTIC_CONFIGURATION=
AZURE_SEARCH_IDENTIFIER_FIELD="chunk_id"
AZURE_SEARCH_CONTENT_FIELD="chunk"
AZURE_SEARCH_TITLE_FIELD="title"
AZURE_SEARCH_EMBEDDING_FIELD="text_vector"

AZURE_OPENAI_WEBRTC_URL = "https://swedencentral.realtimeapi-preview.ai.azure.com/v1/realtimertc"
AZURE_OPENAI_WEBRTC_SESSIONS_URL = "https://<Replace with your deployment name>.openai.azure.com/openai/realtimeapi/sessions?api-version=2025-04-01-preview"
AZURE_OPENAI_API_KEY = 
AZURE_OPENAI_DEPLOYMENT = "gpt-4o-realtime-preview"
AZURE_OPENAI_VOICE = "verse"
